body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 120%;
	background: #ffefd1;
}

section {
	border: solid #f7d699 thin;
}

img {
	height: 200px;
	width: 200px;
	margin: 10px;
	transform: scale(1,1);
	transition: transform 300ms cubic-bezier(.68,-0.55,.27,1.55);
}

img:hover { /* J'avoue, je me suis un peu amusé */
	transform: scale(1.2,0.8);
	transition: transform 300ms cubic-bezier(.68,-0.55,.27,1.55);
}

.desc, .info {
	display: flex;
	padding: 10px;
}

.notes, .tasks {
	width: 100%;
}

.tagslist > li{
	list-style: none;
	display: inline;
	background: #f7d699;
}